<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="alert alert-danger" *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="registerForm">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="userName" placeholder="Username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput formControlName="password" placeholder="Password">
        </mat-form-field>

      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="onSignUp();">Register</button>

    </form>
  </mat-card>
</div>