table {
  width: 100%;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: 16px 16px 16px 0;
  text-align: center;
}

.mat-header-cell {
  font-size: 0.95rem;
}

.mat-column-initialPercentage, .mat-column-investment {
  width: 10%;
}