<h1>My projects</h1>
<div class="mat-elevation-z8 container">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let project"> {{project.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let project"> {{project.description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="investment">
        <th mat-header-cell *matHeaderCellDef> Investment </th>
        <td mat-cell *matCellDef="let project; "> {{project.investment}} </td>
      </ng-container>
  
      <ng-container matColumnDef="initialPercentage">
        <th mat-header-cell *matHeaderCellDef> Initial % </th>
        <td mat-cell *matCellDef="let project"> {{project.initialPercentage}} %</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let project">
          <button mat-raised-button color="primary" [routerLink]="['/project', 'builder', project.projectId]">View</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>