<div class='section-1'>
    <div class='row'>
        <div class='col'>
            <h1>{{ me }}</h1>
        </div>
        <div class='col'>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <mat-card class='example-card'>
                <mat-card-header>
                    <mat-card-title>Project Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Name: {{ project.name }}
                    </p>
                    <p>
                        Description: {{ project.description }}
                    </p>
                    <p>
                        Investment requested: {{ project.investment }}
                    </p>
                    <p>
                        Initial Percentage: {{ project.initialPercentage }} %
                    </p>
                    <p>
                        Number of Tasks: {{ project.numberOfTasks }}
                    </p>
                    <p>
                        Builder: {{ builder.name }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class='row'>
        <div class='col'>
            <mat-card class='example-card'>
                <mat-card-header>
                    <mat-card-title>Investment State</mat-card-title>
                    <mat-card-subtitle>{{ me }}'s view</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Work completed: {{ projectState.workCompleted }} %
                    </p>
                    <p>
                        Last payment: {{ projectState.lastPayment }}
                    </p>
                    <p>
                        Total paid: {{ projectState.totalPaid === null ? 0 : projectState.totalPaid }}
                    </p>
                    <p>
                        Allocated amount: {{ projectState.allocatedAmount }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="unlockNextPayment();">Confirm next task
                        completed</button>
                    <button mat-raised-button color="warn" (click)="reset();">Reset</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>