<mat-toolbar color="primary" class="app-header">
    <div><a routerLink="home" target="_blank" class="home-link">DINT</a></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button [routerLink]="['auth', 'login']">Log in</a>
      <a mat-button mat-raised-button [routerLink]="['auth', 'register']">Register</a>
      <a mat-button mat-raised-button [routerLink]="['me', 'projects']">My Projects</a>
      <a mat-button mat-raised-button [routerLink]="['me', 'investments']">My Investments</a>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>