<h2 mat-dialog-title>Transaction Successful</h2>
<mat-dialog-content class="mat-typography" aria-labelledby="contained-modal-title-vcenter">
  <p>{{ transactionIdInfo }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
<!--   <button mat-raised-button color='warn' mat-dialog-close>Close</button>
 -->  <button mat-raised-button color='primary' [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>