<div class='section-1'>
    <div class='row'>
        <div class='col'>
            <h1>{{ me }}</h1>
        </div>
        <div class='col'>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <mat-card class='example-card'>
                <mat-card-header>
                    <mat-card-title>Project Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Name: {{ project.name }}
                    </p>
                    <p>
                        Description: {{ project.description }}
                    </p>
                    <p>
                        Investment requested: {{ project.investment }}
                    </p>
                    <p>
                        Initial Percentage: {{ project.initialPercentage }} %
                    </p>
                    <p>
                        Number of Tasks: {{ project.numberOfTasks }}
                    </p>
                    <p>
                        Builder: {{ builder.name }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <mat-card class='example-card'>
                <mat-card-header>
                    <mat-card-title>Investment State</mat-card-title>
                    <mat-card-subtitle>{{ me }}'s view</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Work completed: {{ projectState.workCompleted }} %
                    </p>
                    <p>
                        Last payment: {{ projectState.lastPayment }}
                    </p>
                    <p>
                        Total paid: {{ projectState.totalPaid === null ? 0 : projectState.totalPaid }}
                    </p>
                    <p>
                        Allocated amount: {{ projectState.allocatedAmount }}
                    </p>
                    <form [formGroup]="investorForm">
                        <mat-form-field>
                            <mat-label>Amount to allocate</mat-label>
                            <input matInput type="number" placeholder="1000" formControlName="amountToAllocate">
                        </mat-form-field>
                        <mat-form-field class="currency">
                            <mat-label>Currency</mat-label>
                            <input matInput type="text" placeholder="EUR">
                            <mat-select formControlName="currency">
                                <mat-option *ngFor="let currency of currencies" [value]="currency">
                                  {{ currency }}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                        <br>
                        <br>
                        <mat-form-field>
                            <mat-label># of payments/tasks</mat-label>
                            <input matInput type="number" placeholder="4" formControlName="totalPayments">
                        </mat-form-field>
                        <mat-form-field class="initialPercent">
                            <mat-label>Initial investment %</mat-label>
                            <input matInput type="number" placeholder="30" formControlName="initialPercent">
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="allocateTransaction();">Allocate</button>
                    <button mat-raised-button color="warn" (click)="reset();">Reset</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>