button {
    margin-right: 1rem
}

h1 {
    margin-bottom: 0.5rem;
    text-align: center;
}

[class*='section'] {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
}

.example-card {
    background-color: #E1E2E6 ;
}